body {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: grey;
    
  }
  #cnv {
    border: 1px solid black;
  }